
 .goback{
     display: flex;
     justify-content: flex-start;
     width: 100%;
 }
 .goback a{
     text-decoration: none;
 }
 .goback a:visited{
     color: white;
 }
 .goback a:hover{
    color: grey;
 }
 i{
     margin: 20px;
     font-size: 20px;
     cursor: pointer;
 }

 @media screen  and (min-width:768px) {
    .goback{
        display: flex;
        width: 70%;
    }
    i{
        font-size: 30px;
    }
 }